node_modules/
.env
/.vs/LogonVistaOrb/v17/.wsuo
/.vs/LogonVistaOrb/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/LogonVistaOrb/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrb/obj/Debug/net48/App.g.cs
/LogonVistaOrb/obj/Debug/net48/DummyWindow.g.cs
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb.AssemblyInfo.cs
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb.AssemblyInfoInputs.cache
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb.csproj.AssemblyReference.cache
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb.exe.withSupportedRuntime.config
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb.GeneratedMSBuildEditorConfig.editorconfig
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb.GlobalUsings.g.cs
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb_Content.g.cs
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb_MarkupCompile.cache
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb_MarkupCompile.lref
/LogonVistaOrb/obj/Debug/net48/MainWindow.baml
/LogonVistaOrb/obj/Debug/net48/MainWindow.g.cs
/LogonVistaOrb/obj/Release/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrb/obj/Release/net48/App.g.cs
/LogonVistaOrb/obj/Release/net48/DummyWindow.g.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.AssemblyInfo.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.AssemblyInfoInputs.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.csproj.AssemblyReference.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.exe.withSupportedRuntime.config
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.GeneratedMSBuildEditorConfig.editorconfig
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.GlobalUsings.g.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_Content.g.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_MarkupCompile.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_MarkupCompile.lref
/LogonVistaOrb/obj/Release/net48/MainWindow.baml
/LogonVistaOrb/obj/Release/net48/MainWindow.g.cs
/LogonVistaOrbInstaller/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.csproj.AssemblyReference.cache
/LogonVistaOrbInstaller/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrbInstaller/obj/Release/LogonVistaOrbInstaller.csproj.AssemblyReference.cache
/LogonVistaOrbInstaller/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrbInstaller/obj/x64/Debug/LogonVistaOrbInstaller.csproj.AssemblyReference.cache
/LogonVistaOrbInstaller/obj/x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.csproj.AssemblyReference.cache
/LogonVistaOrbInstaller/obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrbInstaller/obj/x86/Debug/LogonVistaOrbInstaller.csproj.AssemblyReference.cache
/LogonVistaOrbInstaller/obj/x86/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.csproj.AssemblyReference.cache
/.vs/LogonVistaOrb/FileContentIndex/240ee147-89ef-407c-b95a-a974c2b91fc5.vsidx
/.vs/LogonVistaOrb/FileContentIndex/af951175-e07d-44a4-a6c5-611c22af1413.vsidx
/.vs/LogonVistaOrb/FileContentIndex/f82b4dbf-4e29-4a3d-8d27-cad40f982bfd.vsidx
/.gitignore
/.vs/LogonVistaOrb/FileContentIndex/515d8c17-1ddf-4997-a203-846ddb287882.vsidx
/.vs/LogonVistaOrb/FileContentIndex/cf72c6cc-bcb9-44cd-987b-219e8b4510ed.vsidx
*.vsidx
/.vs/LogonVistaOrb/v17/DocumentLayout.backup.json
/LogonVistaOrb/.vs/LogonVistaOrb/DesignTimeBuild/.dtbcache.v2
/LogonVistaOrb/.vs/LogonVistaOrb/v17/.futdcache.v2
/LogonVistaOrb/.vs/LogonVistaOrb/v17/.suo
/LogonVistaOrb/.vs/LogonVistaOrb/v17/DocumentLayout.backup.json
/LogonVistaOrb/.vs/LogonVistaOrb/v17/DocumentLayout.json
/LogonVistaOrb/.vs/ProjectEvaluation/logonvistaorb.metadata.v9.bin
/LogonVistaOrb/.vs/ProjectEvaluation/logonvistaorb.projects.v9.bin
/LogonVistaOrb/.vs/ProjectEvaluation/logonvistaorb.strings.v9.bin
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Images/0.png
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Images/1.png
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Images/2.png
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Images/3.png
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Images/4.png
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/LogonVistaOrbInit.exe
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Sounds/Logoff.wav
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Sounds/Logon.wav
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Sounds/Shutdown.wav
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb/Sounds/Startup.wav
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb.exe
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb.exe.config
/LogonVistaOrb/bin/Release/net48/LogonVistaOrb.pdb
/LogonVistaOrb/LogonVistaOrb/LogonVistaOrbInit.exe
/LogonVistaOrb/LogonVistaOrb.res
/LogonVistaOrb/obj/Debug/net48/App.g.i.cs
/LogonVistaOrb/obj/Debug/net48/DummyWindow.g.i.cs
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb.assets.cache
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb_Content.g.i.cs
/LogonVistaOrb/obj/Debug/net48/LogonVistaOrb_MarkupCompile.i.cache
/LogonVistaOrb/obj/Debug/net48/MainWindow.g.i.cs
/LogonVistaOrb/obj/LogonVistaOrb.csproj.nuget.dgspec.json
/LogonVistaOrb/obj/LogonVistaOrb.csproj.nuget.g.props
/LogonVistaOrb/obj/LogonVistaOrb.csproj.nuget.g.targets
/LogonVistaOrb/obj/project.assets.json
/LogonVistaOrb/obj/project.nuget.cache
/LogonVistaOrb/obj/Release/net48/App.g.i.cs
/LogonVistaOrb/obj/Release/net48/DummyWindow.baml
/LogonVistaOrb/obj/Release/net48/DummyWindow.g.i.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.assets.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.csproj.CoreCompileInputs.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.csproj.FileListAbsolute.txt
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.csproj.GenerateResource.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.exe
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.g.resources
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.pdb
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.Properties.Resources.resources
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb.sourcelink.json
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_Content.g.i.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_hbwzkjeh_wpftmp.AssemblyInfo.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_hbwzkjeh_wpftmp.AssemblyInfoInputs.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_hbwzkjeh_wpftmp.assets.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_hbwzkjeh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_hbwzkjeh_wpftmp.GlobalUsings.g.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_hbwzkjeh_wpftmp.sourcelink.json
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_MarkupCompile.i.cache
/LogonVistaOrb/obj/Release/net48/MainWindow.g.i.cs
/LogonVistaOrbInit/.vs/LogonVistaOrbInit/v17/.suo
/LogonVistaOrbInit/.vs/LogonVistaOrbInit/v17/DocumentLayout.backup.json
/LogonVistaOrbInit/.vs/LogonVistaOrbInit/v17/DocumentLayout.json
/LogonVistaOrbInit/.vs/LogonVistaOrbInit/v17/ResourceExplorer/settings.json
/LogonVistaOrbInit/.vs/LogonVistaOrbInit.csproj.dtbcache.json
/LogonVistaOrbInit/bin/Release/app.publish/LogonVistaOrbInit.exe
/LogonVistaOrbInit/bin/Release/LogonVistaOrbInit.application
/LogonVistaOrbInit/bin/Release/LogonVistaOrbInit.exe
/LogonVistaOrbInit/bin/Release/LogonVistaOrbInit.exe.config
/LogonVistaOrbInit/bin/Release/LogonVistaOrbInit.exe.manifest
/LogonVistaOrbInit/bin/Release/LogonVistaOrbInit.pdb
/LogonVistaOrbInit/LogonVistaOrbInit.csproj
/LogonVistaOrbInit/LogonVistaOrbInit.res
/LogonVistaOrbInit/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/LogonVistaOrbInit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.application
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.Configuration.resources
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.csproj.CoreCompileInputs.cache
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.csproj.FileListAbsolute.txt
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.csproj.GenerateResource.cache
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.exe
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.exe.manifest
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.pdb
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.Properties.Resources.resources
/LogonVistaOrbInit/obj/Debug/LogonVistaOrbInit.TrustInfo.xml
/LogonVistaOrbInit/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/LogonVistaOrbInit/obj/Release/DesignTimeResolveAssemblyReferences.cache
/LogonVistaOrbInit/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.application
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.Configuration.resources
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.csproj.CoreCompileInputs.cache
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.csproj.FileListAbsolute.txt
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.csproj.GenerateResource.cache
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.exe
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.exe.config
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.exe.manifest
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.pdb
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.Properties.Resources.resources
/LogonVistaOrbInit/obj/Release/LogonVistaOrbInit.TrustInfo.xml
/LogonVistaOrbInit/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/LogonVistaOrbInit/Properties/app.manifest
/LogonVistaOrbInit/Properties/AssemblyInfo.cs
/LogonVistaOrbInit/Settings.cs
/LogonVistaOrbInstaller/.vs/LogonVistaOrbInstaller/v17/.suo
/LogonVistaOrbInstaller/.vs/LogonVistaOrbInstaller/v17/DocumentLayout.backup.json
/LogonVistaOrbInstaller/.vs/LogonVistaOrbInstaller/v17/DocumentLayout.json
/LogonVistaOrbInstaller/.vs/LogonVistaOrbInstaller/v17/ResourceExplorer/settings.json
/LogonVistaOrbInstaller/.vs/LogonVistaOrbInstaller.csproj.dtbcache.json
/LogonVistaOrbInstaller/bin/x64/Release/app.publish/LogonVistaOrbInstaller.exe
/LogonVistaOrbInstaller/bin/x64/Release/LogonVistaOrbInstaller.application
/LogonVistaOrbInstaller/bin/x64/Release/LogonVistaOrbInstaller.exe
/LogonVistaOrbInstaller/bin/x64/Release/LogonVistaOrbInstaller.exe.config
/LogonVistaOrbInstaller/bin/x64/Release/LogonVistaOrbInstaller.exe.manifest
/LogonVistaOrbInstaller/bin/x64/Release/LogonVistaOrbInstaller.pdb
/LogonVistaOrbInstaller/bin/x86/Release/app.publish/LogonVistaOrbInstaller.exe
/LogonVistaOrbInstaller/bin/x86/Release/LogonVistaOrbInstaller.application
/LogonVistaOrbInstaller/bin/x86/Release/LogonVistaOrbInstaller.exe
/LogonVistaOrbInstaller/bin/x86/Release/LogonVistaOrbInstaller.exe.config
/LogonVistaOrbInstaller/bin/x86/Release/LogonVistaOrbInstaller.exe.manifest
/LogonVistaOrbInstaller/bin/x86/Release/LogonVistaOrbInstaller.pdb
/LogonVistaOrbInstaller/Form1.cs
/LogonVistaOrbInstaller/LogonVistaOrbInstaller.res
/LogonVistaOrbInstaller/man.manifest
/LogonVistaOrbInstaller/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/LogonVistaOrbInstaller/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.application
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.csproj.CoreCompileInputs.cache
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.csproj.FileListAbsolute.txt
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.csproj.GenerateResource.cache
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.exe
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.exe.manifest
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.Form1.resources
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.pdb
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.Properties.Resources.resources
/LogonVistaOrbInstaller/obj/Debug/LogonVistaOrbInstaller.TrustInfo.xml
/LogonVistaOrbInstaller/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/LogonVistaOrbInstaller/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.application
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.csproj.CoreCompileInputs.cache
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.csproj.FileListAbsolute.txt
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.csproj.GenerateResource.cache
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.exe
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.exe.manifest
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.Form1.resources
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.pdb
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.Properties.Resources.resources
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.TrustInfo.xml
/LogonVistaOrbInstaller/obj/x64/Release/TempPE/Properties.Resources.Designer.cs.dll
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.application
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.csproj.CoreCompileInputs.cache
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.csproj.FileListAbsolute.txt
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.csproj.GenerateResource.cache
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.exe
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.exe.manifest
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.Form1.resources
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.pdb
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.Properties.Resources.resources
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.TrustInfo.xml
/LogonVistaOrbInstaller/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/LogonVistaOrbInstaller/Properties/AssemblyInfo.cs
/LogonVistaOrbInstaller/Resources/app.zip
/LogonVistaOrb/LogonVistaOrb/desktop.ini
/LogonVistaOrb/LogonVistaOrb/desktop.ini
/LogonVistaOrb/LogonVistaOrb/desktop.ini
/LogonVistaOrbInstaller/Resources/app.zip
/.vs/slnx.sqlite-journal
/LogonVistaOrbInstaller/bin/x64/Release/app.publish/LogonVistaOrbInstaller_x64.exe
/LogonVistaOrbInstaller/bin/x86/Release/app.publish/LogonVistaOrbInstaller_x86.exe
/LogonVistaOrbInstaller/obj/x64/Release/DesignTimeResolveAssemblyReferences.cache
/LogonVistaOrbInstaller/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
/LogonVistaOrbInstaller/obj/x64/Release/LogonVistaOrbInstaller.exe.config
/LogonVistaOrb/.vs/LogonVistaOrb/v17/ResourceExplorer/settings.json
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_by2eio0b_wpftmp.AssemblyInfo.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_by2eio0b_wpftmp.AssemblyInfoInputs.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_by2eio0b_wpftmp.assets.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_by2eio0b_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_by2eio0b_wpftmp.GlobalUsings.g.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_by2eio0b_wpftmp.sourcelink.json
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_u2woqkck_wpftmp.AssemblyInfo.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_u2woqkck_wpftmp.AssemblyInfoInputs.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_u2woqkck_wpftmp.assets.cache
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_u2woqkck_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_u2woqkck_wpftmp.GlobalUsings.g.cs
/LogonVistaOrb/obj/Release/net48/LogonVistaOrb_u2woqkck_wpftmp.sourcelink.json
/LogonVistaOrb/obj/Release/net48/TempPE/Properties.Resources.Designer.cs.dll
/LogonVistaOrb/LogonVistaOrb/LogonVistaOrbInit.exe
/LogonVistaOrbInstaller/obj/x86/Release/LogonVistaOrbInstaller.exe.config
